

.ms--header-bg {
    background-color: #2c3e50;
    height: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-default .navbar-brand {
    font-size: 25px;
}

.navbar-default .navbar-nav > li > a {
    font-size: 17px;
}

.navbar-default .navbar-toggle {
    background-color: #1abc9c;
    font-size: 15px;

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;

}

#start-bootstrap {
    background-color: #1abc9c;
    padding-top: 180px;
    padding-bottom: 100px;
    color: white;
}

#start-bootstrap img {
    max-width: 250px;
    display: inline-block;
}

#start-bootstrap h1 {
    font-size: 55px;
    font-weight: 600;
    text-transform: uppercase;
}
/* DOES NOT WORK
#start-bootstrap .star-icon:before {
    content: '';
    height: 10px;
    width: 100px;
    background-color: black;
}
*/

#start-bootstrap .ms--star-icon {
    font-size: 30px;
}

#start-bootstrap .ms--star-icon:before,
#start-bootstrap .ms--star-icon:after {
    content: '';
    display: inline-block;
    width: 110px;
    height: 5px;
    background-color: white;
    position: relative;
    bottom: 10px;
    border-radius: 3px;
}

#start-bootstrap .text-middle  {
    font-size: 33px;
    padding-top: 10px;
    padding-bottom: 20px;
}


#start-bootstrap .text-bottom {
    font-size: 20px;

}

#start-bootstrap p {
    font-size: 30px;
}
